---
title: Perfume Display
layout: project
copyright: 2021 Bryan Fink
project: true
---
<div class="pure-u-1 pure-u-lg-1-3">
  {% capture description_view_vial_counts %}The tray offers {{site.data.perfume-display.total_vial_count}} holes to store various size vials of perfume.{% endcapture%}
  {% include preview_image.html image="view-vial-counts.png"
  description=description_view_vial_counts %}
</div>
<div class="pure-u-1 pure-u-lg-1-3">
  {% include preview_image.html image="view-vial-offsets-triangular.png"
  description="Holes are spaced evenly from each other along 60&deg; lines." %}
</div>
<div class="pure-u-1 pure-u-lg-1-3">
  {% include preview_image.html image="view-vial-offsets-rectangular.png"
  description="Hole placement via square measurement from tray edges." %}
</div>
<div class="pure-u-1">
  <p>
    This simple tray is a great way to organize a collection of
    perfume sample vials. It offers a total of
    {{site.data.perfume-display.total_vial_count}} holes in which to
    store perfume vials of various sizes.
  </p>
  <p>
    <i>Side note: The measurements given here are a little "hairy",
    because they are direct conversions from the Imperial units that
    were used to design the piece. Feel free to round to the nearest
    millimeter.</i>
  </p>
</div>

<div class="pure-u-1">
  <h2>Building Instructions</h2>
</div>

{% capture step_0_ignore %}{% increment pd_step %}{% endcapture %}
{% capture figure_0_ignore %}{% increment pd_fig %}{% endcapture %}

{% capture step_cut_plank %}{% increment pd_step %}{% endcapture %}
{% include step_heading.html number=step_cut_plank
title="Cut the plank to size" %}

{% capture figure_cut_plank %}{% increment pd_fig %}{% endcapture %}
{% include figure.html number=figure_cut_plank
image="view-undrilled-plank.png"
caption="Cut the plank to size." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Start by milling and cutting a flat piece of wood to size.
  </p>
</div>

{% capture step_layout %}{% increment pd_step %}{% endcapture %}
{% include step_heading.html number=step_layout
title="Layout drill positions" %}

<div class="pure-u-1">
  <p>
    Next, layout the points at which to drill the holes. Here are
    three methods for doing this:
  </p>
</div>

{% capture figure_layout %}{% increment pd_fig %}{% endcapture %}
{% capture figure_layout_rect %}{{figure_layout}}a{% endcapture %}
{% include figure.html number=figure_layout_rect
image="view-marking-rectilinear.png"
caption="Method 1 - Drill positions, as rectilinear offsets." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    <i>Method 1</i>: Draw a line parallel to the front edge of the
    plank, {{site.data.perfume-display.bottom_row_inset}}cm in. Draw
    additional lines parallel to this one at
    {{site.data.perfume-display.inter_row_space}}cm intervals, until
    you have {{site.data.perfume-display.total_row_count}} lines. The
    final line should be
    {{site.data.perfume-display.bottom_row_inset}}cm from the back
    edge of the plank.
  </p>
  <p>
    On the first, third, and other odd numbered rows, place the first
    mark at {{site.data.perfume-display.wide_row_inset}}cm from the
    left edge. Then place additional marks every
    {{site.data.perfume-display.vial_center_distance}}cm along the
    lines, until you have
    {{site.data.perfume-display.wide_row_vial_count}} marks on each
    line.
  </p>
  <p>
    On the second, fourth, and other even numbered rows, place the
    first mark at {{site.data.perfume-display.narrow_row_inset}}cm
    from the left edge. Then place additional marks ever
    {{site.data.perfume-display.vial_center_distance}}cm , until you
    have {{site.data.perfume-display.narrow_row_vial_count}} marks on
    these lines.
  </p>
</div>

{% capture figure_layout_angle %}{{figure_layout}}b{% endcapture %}
{% include figure.html number=figure_layout_angle
image="view-marking-angle.png"
caption="Method 2 - Drill positions, as angle crossings." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    <i>Method 2</i>: Draw a line parallel to the front edge of the
    plank, {{site.data.perfume-display.bottom_row_inset}}cm in. Place
    the first mark on this line at
    {{site.data.perfume-display.wide_row_inset}}cm from the left
    edge. Then place additional marks every
    {{site.data.perfume-display.vial_center_distance}}cm along the
    line, until you have
    {{site.data.perfume-display.wide_row_vial_count}} marks.
  </p>
  <p>
    Using a 30-60-90 triangle, or an angle copier set to 60&deg;, mark
    a line starting at each mark, and rising at 60&deg; both to the
    right and to the left.
  </p>
  <p>
    The upper corners will end up with only one diagonal line, without
    a crossing diagonal. Measure the distance from the front edge to a
    diagonal cross near the middle, and then cross the outer corner
    diagonals at the same distance from the front edge.
  </p>
</div>

{% capture figure_layout_circle %}{{figure_layout}}c{% endcapture %}
{% include figure.html number=figure_layout_circle
image="view-marking-circles.png"
caption="Method 3 - Drill positions, as circle crossings." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    <i>Method 3</i>: Draw a line parallel to the front edge of the
    plank, {{site.data.perfume-display.bottom_row_inset}}cm in. Place
    the first mark on this line at
    {{site.data.perfume-display.wide_row_inset}}cm from the left edge.
  </p>
  <p>
    Set a compass to mark a
    {{site.data.perfume-display.vial_center_distance}}cm radius. Place
    the pivot point of the compass at the mark you made on the line,
    and draw as much of a circle as will fit on the board. Move the
    compass pivot to where the circle crossed your parallel line, and
    draw another circle from that point. Continue this process down
    the length of the line.
  </p>
  <p>
    Now place the compass at each point where the circles cross each
    other, and draw another row of circles. When that row is done,
    repeat the process at each point where the new set of circles
    crossed. Continue this process until you have filled the board.
  </p>
</div>

{% capture step_drill %}{% increment pd_step %}{% endcapture %}
{% include step_heading.html number=step_drill caption="Drill" %}

{% capture figure_drill %}{% increment pd_fig %}{% endcapture %}
{% include figure.html number=figure_drill
image="view-drilled.png"
caption="Drill at markings." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    At each place to made a mark (Method 1), where the diagonal or
    horizontal lines crossed (Method 2), or where the circles crossed
    (Method 3), drill a hole to hold a perfume vial. Holes should be
    about one-fourth as deep as the vial that will go in it is
    tall. Drilling each hole just slightly larger in diameter than the
    vial that it will hold will make the vial easier to insert and
    remove. Holes up to
    {{site.data.perfume-display.max_vial_diameter}}cm in diameter can
    be placed next to each other while still leaving
    {{site.data.perfume-display.min_inter_vial_distance}}cm of wood
    between them.
  </p>
</div>

{% capture step_chamfer %}{% increment pd_step %}{% endcapture %}
{% include step_heading.html number=step_chamfer title="Chamfer and Groove" %}

{% capture figure_chamfer %}{% increment pd_fig %}{% endcapture %}
{% include figure.html number=figure_chamfer
image="view-chamfer-and-groove.png"
caption="Chamfer edges and add a finger groove." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    If this tray will be installed in a drawer or other box where it
    fits the entire space, this step can be skipped. Otherwise, adding
    a chamfer around the edges and a groove in each side makes the
    tray nicer to lift and carry, while also giving it a bit more
    visual interest.
  </p>
  <p>
    A chamfer around the top and bottom edge can be done quickly with
    a small router and chamfering bit. Either use a bit with a
    follower bearing, or attach a fence to the router to keep the bit
    at the right horizontal distance. If a router with chamfering bit
    is not available, a sanding block held at an angle will also make
    quick work of this task.
  </p>
  <p>
    The finger groove is most easily made with a router and a core box
    bit. Attach a fence to the router, and adjust it so that the
    center of the bit is in the center of the edge of the tray. The
    length and depth of the groove should be whatever feels
    comfortable.
  </p>
</div>

{% capture step_finish %}{% increment pd_step %}{% endcapture %}
{% include step_heading.html number=step_finish title="Finish" %}

<div class="pure-u-1">
  <p>
    Sand, plane, or scrape off any remaining marks, and then apply
    finish to seal the tray. Be careful to choose a finish that
    doesn't dry thick and reduce the diameters of your holes! A simple
    oil and wax, like butcher block treatment, works great.
  </p>
</div>
