---
title: Laundry Rack
layout: project
copyright: 2021 Bryan Fink
project: true
---
<div class="pure-u-1 pure-u-lg-1-2">
  {% include preview_image.html image="view-key.png"
  description="Key to the components of the Laundry Rack" %}
</div>
<div class="pure-u-1 pure-u-lg-1-2">
  {% include preview_image.html image="view-third-angle.png"
  description="Third-angle view of the assembled Laundry Rack" %}
</div>
<div class="pure-u-1">
  <p>
    Hanging wet laundry to dry uses less energy, and is gentler on
    clothing, than heated tumble drying. This rack provides ample
    space to hang several loads, while also folding near-flat for
    storage.
  </p>

  <p>
    Step-by-step instructions for building this laundry rack
    follow. <a href="https://youtu.be/7u0ysx2RW_E">A video of this
    process</a> is also available on YouTube.
  </p>
</div>

<div class="pure-u-1">
  <h2>Building Instructions</h2>
</div>

{% capture step_0_ignore %}{% increment lr_step %}{% endcapture %}

<div class="pure-u-1">
  <h3>Cutting and Shaping the Components</h3>
</div>

{% capture figure_view_stock_widths %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_view_stock_widths
image="view-stock-widths.png"
caption="Stock width, thickness, and diameter" %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    These instructions assume that your square stock (for the legs and
    arms) and the dowels are already the correct width and thickness
    (Legs/arms: {{site.data.laundry-rack.square_stock_width}}cm x
    {{site.data.laundry-rack.square_stock_thickness}}cm, dowels
    {{site.data.laundry-rack.dowel_diameter}}cm in diameter). ({%
    include figure_link.html number=figure_view_stock_widths %}) The
    dimensions in these plans are the dimensions of commonly-available
    surfaced stock from major hardware stores. If you're starting with
    differently-sized wood, rip the square stock and turn the dowels
    to size before starting.
  </p>
</div>

{% capture step_cut_legs_to_shape %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_cut_legs_to_shape
title="Cut Legs to Shape" %}

{% capture figure_leg_details %}{% increment lr_fig %}{% endcapture %}
{% capture figure_view_leg_length %}{{figure_leg_details}}a{% endcapture %}
{% include figure.html number=figure_view_leg_length
image="view-leg-length.png"
caption="Cut the legs to length" %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Cut four pieces of square stock to length for the legs
    ({{site.data.laundry-rack.leg_length}}cm). ({%- include
    figure_link.html number=figure_view_leg_length -%})
  </p>
  <p>
    Tip: Don't discard the offcuts from the legs and arms. They can be
    useful as spacers during assembly!
  </p>
</div>

{% capture figure_leg_corner %}{{ figure_leg_details }}b{% endcapture %}
{% include figure.html number=figure_leg_corner
image="view-leg-corner.png"
caption="Cut one corner off of each leg." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    If you want the dowels in the arms to hang at exactly the height
    shown in the diagrams, also cut one corner, off thef bottom of
    each leg, at the complement of the angle that the leg rises when
    standing
    ({{site.data.laundry-rack.leg_angle_complement}}&deg;). ({%
    include figure_link.html number=figure_leg_corner %})
  </p>
</div>

{% capture step_drill_holes_legs %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_drill_holes_legs
title="Drill holes in the legs" %}

{% capture figure_leg_holes %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_leg_holes
image="view-leg-holes.png"
caption="Drill holes in the legs." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    In each leg, drill three dowel-sized holes through the wide
    face. These should be centered on the width of the leg. Measured
    from the bottom, where you may have cut a corner off, they will be
    at {{site.data.laundry-rack.bottom_leg_dowel_distance}}cm,
    {{site.data.laundry-rack.middle_leg_dowel_distance}}cm, and
    {{site.data.laundry-rack.top_leg_dowel_distance}}cm. ({% include
    figure_link.html number=figure_leg_holes %})
  </p>
</div>

{% capture step_cut_arms %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_cut_arms
title="Cut Arms to length" %}

{% capture figure_cut_arms %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_cut_arms
image="view-arm-length.png"
caption="Cut the arms to length." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Cut four pieces of square stock to length for the arms
    ({{site.data.laundry-rack.arm_length}}cm). ({% include
    figure_link.html number=figure_cut_arms %})
  </p>
</div>

{% capture step_drill_arms %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_drill_arms
title="Drill holes in the arms." %}

{% capture figure_drill_arms %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_drill_arms
image="view-arm-holes.png"
caption="Drill holes in the arms." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    In each arm, drill {{site.data.laundry-rack.arm_dowel_hole_count}}
    dowel-sized holes through the wide face. These should be centered
    on the width of the arm. Measured from one end, the center of the
    first hole will be at {{site.data.laundry-rack.dowel_inset}}cm,
    and the center of each hole after that will be
    {{site.data.laundry-rack.arm_hang_dowel_span}}cm from the center
    of the previous hole. ({% include figure_link.html
    number=figure_drill_arms %}).
  </p>
</div>

{% capture step_cut_dowels %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_cut_dowels
title="Cut Dowels to length" %}

{% capture figure_cut_dowels %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_cut_dowels
image="view-dowel-length.png"
caption="Cut the dowels to length." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Cut the dowels to length. You will need
    {{site.data.laundry-rack.long_dowel_count}} cut at
    {{site.data.laundry-rack.long_dowel_length}}cm, and
    {{site.data.laundry-rack.short_dowel_count}} cut at
    {{site.data.laundry-rack.short_dowel_length}}. ({% include
    figure_link.html number=figure_cut_dowels %}) Collect the small
    offcuts for use in the next step.
  </p>
</div>

{% capture step_paint %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_paint
title="Paint (optional)." %}

{% capture figure_dowel_painting %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_dowel_painting
image="view-dowel-painting.png"
caption="Do not pain the ends of the dowels." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Consider sanding and painting (or applying other finish) before
    assembly. It's easier to reach all the places, especially between
    where the legs meet, at this point.
  </p>
  <p>
    Care still needs to be taken to prevent paint from getting where
    it shouldn't be. Tape the the ends of the dowels as shown in {%
    include figure_link.html number=figure_dowel_painting %}. The last
    {{site.data.laundry-rack.square_stock_thickness}}cm of all short
    dowels, and {{site.data.laundry-rack.non_pivot_long_dowel_count}}
    long dowels should be left unpainted. This unpainted section will
    be glued in one of the holes in an arm or leg. Any paint on it
    might make the fit too tight, or interfere with the glue bond. On
    the remaining four long dowels leave twice that length
    ({{site.data.laundry-rack.double_square_stock_thickness}}cm)
    unpainted. The ends of those dowels will pass through two holes to
    form the pivot points.
  </p>
  <p>
    To keep paint out of the holes in the arms and legs, push the
    off-cuts from trimming your dowels part way into them before
    painting. It should be easy to break any dried paint bond later by
    twisting the dowel stubs with a pair of pliers.
  </p>
</div>

<div class="pure-u-1">
  <h3>Assembly</h3>
</div>

{% capture step_assemble_narrow_arms %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_assemble_narrow_arms
title="Assemble the narrow arms." %}

{% capture figure_narrow_arms %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_narrow_arms
image="view-narrow-arm-assembly.png"
caption="Assemble the narrow arms." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Apply glue to the first {{site.data.laundry-rack.outer_dowels}}
    holes in one arm, and to one end of
    {{site.data.laundry-rack.outer_dowels}} short dowels, then fit
    them into the holes. Push them in until the end of the dowel is
    flush with the outside of the arm.
  </p>
  <p>
    Place a long dowel, one with the longer unpainted section if you
    painted in {% include step_link.html number=step_paint %}, into
    the next whole <i>without glue</i>. The arm should spin freely
    about this dowel after assembly, but don't worry if it's just a
    little tight at the moment. The leverage you'll have from pushing
    at on points in the rack will be able to overcome this
    friction. Push this long dowel through until it protrudes one leg
    thickness out of the other side of the arm. The paint will be
    touching the inside of the arm.
  </p>
  <p>
    Tip: Pushing the long dowels through can be a good place to use
    off-cuts from the arms and legs. Lay them flat, put the arm on
    them without blocking the hole, and then push the dowel through
    until it touches the surface you're working on.
  <p>
    Apply glue and insert short dowels into the next
    {{site.data.laundry-rack.inner_dowels}} holes. Then insert one
    more long dowel, with the longer unpainted section, into the final
    hole, again <i>without glue</i>.
  </p>
  <p>
    Apply glue to the same holes in a second arm, and push it onto the
    other ends of the dowels in the same orientation. Remember: only
    holes with short dowels in them should be glued at this step.
  </p>
  <p>
    Set this assembly aside to dry. ({% include figure_link.html
    number=figure_narrow_arms %})
  </p>
</div>

{% capture step_wide_arms %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_wide_arms
title="Partially assemble the wide arms" %}

{% capture figure_wide_arms %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_wide_arms
image="view-wide-arm-assembly.png"
caption="Partially assemble the wide arms." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Glue {{site.data.laundry-rack.non_pivot_hanging_dowel_count}} long
    dowels into one of the two remaining arms, in the same positions
    you glued the short dowels in step 7. ({% include figure_link.html
    number=figure_wide_arms %}) If you painted the dowels in {%
    include step_link.html number=step_paint %}, these will all be
    long dowels with the short unpainted section. The ends of the
    dowels should be flush with the outside of the arm. Leave the two
    pivot holes empty for tnow, and do not attach the remaining arm to
    the other end of these dowels yet. Set this partial assembly aside
    to dry.
  </p>
</div>

{% capture step_half_legs %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_half_legs
title="Assemble one side of the legs" %}

{% capture figure_half_legs %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_half_legs
image="view-half-leg-assembly.png"
caption="Dowels attached to legs on one side." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Glue a short dowel into the bottom hole of one leg (the hole that
    is {{site.data.laundry-rack.bottom_leg_dowel_distance}} from the
    end). Glue a long dowel, one with the short unpainted section if
    you painted them in {% include step_link.html number=step_paint
    %}, into the bottom hole of a second leg.
  </p>
  <p>
    Push a long dowel, one with the long unpainted section if you
    painted them in {% include step_link.html number=step_paint %},
    through the middle hole of the leg with the short dowel attached,
    until it sticks out
    {{site.data.laundry-rack.square_stock_thickness}}cm. Apply glue to
    the middle hole of the leg with the long dowel attached, and then
    push the protruding bit of middle dowel into this glued hole. If
    you cut the corner off the bottom of the legs in {% include
    step_link.html number=step_cut_legs_to_shape %}, be careful to
    orient this second leg correctly: the cutoff corners should face
    each other.
  </p>
  <p>
    If there is any glue between the two legs, or on the dowel inside
    the outer leg, clean it up before it dries. The goal is to glue
    the middle dowel to only the leg that has the long dowel
    attached. The leg with the short dowel attached should pivot
    freely about the middle dowel.
  </p>
</div>

{% capture step_attach_wide_arms %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_attach_wide_arms
title="Attach the wide arms" %}

{% capture figure_attach_wide_arms %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_attach_wide_arms
image="view-wide-arms-on-legs.png"
caption="Wide arms ttached to half-leg assembly." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Tip: It's easiest to finish the assembly with the structure laying
    on its side. This is another good place to use off-cuts from the
    arms and legs. Lay them flat beneath the ends of the leg that is
    otherwise supported only in the middle, to keep the assembly from
    rocking.n
  </p>
  <p>
    Push the remaining long dowel (it should be one with the wider
    unpainted section) through the top hole of the leg that had the
    short dowel attached to its bottom hole in {% include
    step_link.html number=step_half_legs %}. It should protrude from
    the opposite side
    {{site.data.laundry-rack.square_stock_thickness}}cm.
  </p>
  <p>
    Apply glue to the inner skipped hole in the unfinished wide arm
    assembly from {% include step_link.html number=step_wide_arms
    %}. Push the end of the dowel protruding from the top of the leg
    into this hole. As before, clean up any errant glue so that the
    dowel is only glued to the arm, and the leg can still move freely.
  </p>
</div>

{% capture step_attach_narrow_arms %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_attach_narrow_arms
title="Attach the narrow arms." %}

{% capture figure_attach_narrow_arms %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_attach_narrow_arms
image="view-narrow-arms-on-legs.png"
title="Narrow arms attached to half-leg assembly." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Apply glue to the open hole at the top of the leg, and then end of
    the wide arms. Push the end of the long dowels protruding from the
    narrow arm assembly into these holes. The dowel at the end of the
    assembly goes into the hole in the other arm assembly, and the
    dowel in the middle goes into the hole in the leg.
  </p>
</div>

{% capture step_inner_leg %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_inner_leg
title="Attach the inner leg." %}

{% capture figure_inner_leg %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_inner_leg
image="view-inner-leg-attached.png"
caption="Attach the inner leg." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Apply glue to the bottom hole of one of the remaining legs. Do not
    apply glue to the top or middle holes. Push this leg onto the
    three dowels protruding from the leg that is connected to the
    unfinished arm assembly (the one still waiting for its second
    arm). The dowel in the bottom hole should be flush with the
    outside of the leg, and the other dowels should stick through
    {{site.data.laundry-rack.square_stock_thickness}}cm.
  </p>
  <p>
    Be careful to match the cutoff at the bottom (if you made it in {%
    include step_link.html number=step_cut_legs_to_shape %}) to the
    cutoff on the leg at the other end of these dowels.
  </p>
</div>

{% capture step_attach_outer %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_attach_outer
title="Attach the final arm and leg." %}

{% capture figure_attach_outer %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_attach_outer
image="view-final-arm-and-leg-attached.png"
caption="Attach the final arm and leg." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    The final arm and leg can be attached in either order. For each
    component, apply glue to each of its holes, and press onto the
    dowels protruding from its matching component. All dowels should
    sit flush with the outer edge.
  </p>
  <p>
    When attaching the leg, be careful to orient the cutoff at the
    bottom (if you made it in {% include step_link.html
    number=step_cut_legs_to_shape %}) in the correct direction. It
    should match the piece at the other end of its dowels.
  </p>
</div>
<div class="pure-u-1">
  <!-- TODO: closed image -->
  <p>
    Stand the rack up, and try opening and closing it. If your dowels
    fit their holes tightly, the movement may be stiff at first. Over
    time it should loosen up. If your rack doesn't sit without
    rocking, or doesn't fold evenly (i.e. one side sticks out farther
    than the other), it may be that some of the holes are not
    aligned. In that case, check all distances between dowels and ends
    of arms and legs. If one or more is off, cut the dowel off, drill
    a new hole in the correct position, and insert a new dowel.
  </p>
</div>

{% capture step_lock %}{% increment lr_step %}{% endcapture %}
{% include step_heading.html number=step_lock
title="Add a locking hook." %}

{% capture figure_lock %}{% increment lr_fig %}{% endcapture %}
{% include figure.html number=figure_lock
image="view-locked-open.png"
title="A hook and line keep the rack open." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    To keep the rack from folding up when weight - like wet laundry -
    is applied to the arms, a simple lock can be made from some
    paracord (or other strong string, twine, etc.) and a hook large
    enough to hang on one of the dowels. Tie the hook to
    {{site.data.laundry-rack.pivot_vertical_span}}cm, plus enough
    extra length for a knotted loop on either end, of paracord.
  <p>
    Open the rack so that the arms are parallel to the ground, or so
    that the ends of the arms are just slightly higher. Place the hook
    around the dowel in the middle of the legs, and then run the line
    up over the dowel connecting the arm assemblies. Tie the line
    around this dowel so that the line is taught.
  </p>
  <p>
    Repeat this process for a second hook-and-line lock. Push one lock
    to one side, and the other lock to the other side. This will
    balance out the pressure across the rack, and decrease the
    potential for a dowel to snap.
  </p>
  <p>
    Try pushing on the ends of the arms. If your knots hold, the rack
    shouldn't collapse. To fold up the rack, raise the ends of the
    arms far enough above parallel to allow the hooks to swing free of
    the center leg dowel. Move the hooks out of the way - I like to
    hook them one one of the arm dowels - and press down on the arms
    to fold up the rack.
  </p>
</div>

<div class="pure-u-1">
  <p>
    Congratulations! Your laundry rack is now complete. Fold it up and
    slide it away somewhere until laundry day. Then unfold it, and
    hang your wet laundry to dry.
  </p>
</div>

<div class="pure-u-1">
  <h2>Examples</h2>

  <p>
    <a href="https://youtu.be/7u0ysx2RW_E">A video of building this
      project is available on YouTube.</a>
  </p>
</div>
