---
---
<!DOCTYPE html>
<html>
  <head>
    <link rel="working-copy-of" href="https://github.com/beerriot/woodworking-plans/blob/{{site.data.version.commit_hash}}/{{page.path}}">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="license" href="http://creativecommons.org/licenses/by/4.0/">
    <link rel="stylesheet" href="/assets/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd">
    <link rel="stylesheet" href="/assets/grids-responsive-min.css">
    <link rel="stylesheet" href="/assets/pure-menu-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Woodworking Plans{% if page.title %}: {{page.title}}{% endif %}</title>
  </head>
  <body>
    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="/">Woodworking Plans</a>
          <ul class="pure-menu-list">
            <li class="pure-menu-item {% if page.url == "/" %}pure-menu-selected{% endif %}">
              <a href="/" class="pure-menu-link">Home</a>
            </li>
            <li class="pure-menu-item {% if page.url == "/help/" %}pure-menu-selected{% endif %}">
              <a href="/help/" class="pure-menu-link">Help</a>
            </li>
            <li class="pure-menu-heading menu-item-divided">
              <span>Projects</span>
            </li>
            {% assign sorted_pages = site.pages  | sort: "title" %}
            {% for navpage in sorted_pages %}
            {% if navpage.project %}
            <li class="pure-menu-item {% if page.url == navpage.url %}pure-menu-selected{% endif %}">
              <a href="{{navpage.url}}" class="pure-menu-link">{{navpage.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div id="main">
        <div class="header">
          <h1>{% if page.title %}{{page.title}}{% else %}Woodworking Plans{% endif %}</h1>
        </div>
        <div class="content">
          <div class="pure-g">
            {{content}}
            <div class="pure-u-1 legal">
              <p>
                Copyright &copy; {{page.copyright}}<br />
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/pure-menu.js"></script>
  </body>
</html>
