---
title: Signal Tower
layout: project
copyright: 2021 Bryan Fink
project: true
---
<div class="pure-u-1 pure-u-lg-1-3">
  {% include preview_image.html image="view-key.png"
  description="Key to the components of the signal tower." %}
</div>
<div class="pure-u-1 pure-u-lg-1-3">
  {% include preview_image.html image="view-key-hardware.png"
  description="Key to the hardware of the signal tower." %}
</div>
<div class="pure-u-1 pure-u-lg-1-3">
  {% include preview_image.html image="view-third-angle.png"
  description="Third-angle view of the assembled signal tower." %}
</div>

<div class="pure-u-1">
  <p>
    This tower is a relatively cheap and easy to build mounting point
    for antennas and satellite dishes. By loosening the bolt in each
    clamp, the pipe mast can be lowered to allow easier access for
    antenna/dish installation. The tower should be cabled to anchors
    secured in the ground to prevent it from tipping.
  </p>
</div>

{% assign st=site.data.signal-tower %}
{% increment st_fig %}

<div class="pure-u-1">
  <h2>Building Guidelines</h2>
</div>

<div class="pure-u-1">
  <p>
    Full step-by-step build instructions may follow later. For now, a
    few tips and the parts diagrams should get some of you started.
  </p>
  <p>
    The legs are designed to stand at {{st.leg_angle}}&deg; off
    horizontal. The top and bottom are cut to complement that angle
    (at {{st.leg_angle | times: -1 | plus: 90}}&deg;), so that the
    clamp sits flush at the top, and the feet sit flush on the ground.
  </p>
  <p>
    The measurements for the bolt holes in the legs are given from the
    middle of the angled foot. Instead of trying to measure from that
    point, measure the same distance from the acute edge of the foot,
    then strike a {{st.leg_angle | times: -1 | plus: 90}}&deg; line
    across the leg at that point. Find the midpoint of that line, and
    drill there.
  </p>
</div>

{% capture figure_clamp_assembly %}{% increment st_fig %}{% endcapture %}
{% include figure.html number=figure_clamp_assembly
image="view-clamp-assembly.png"
caption="Pipe clamps are made of three layers of wood in alternating grain directions." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Make the clamps out of three square layers of wood glued
    together. Orient the middle layer such that the grain runs
    perpendicular to the other two layers. Drill the hole for the
    clamp bolt through the side grain (not through the end grain) of
    the middle layer.
  </p>
  <p>
    File one side of the pipe hole flat, and then push a t-nut into
    the bolt holt from the inside of the pipe hole. As the bolt screws
    into the t-nut from the outside, it will press against the pipe,
    holding the pipe in place.
  </p>
</div>

<div class="pure-u-1">
  <p>
    If you're not using a well-calibrated drill press to make the bolt
    holes, then make sure to start the holes from the mating face of
    each component. That way, even if the holes aren't perfectly
    normal to each face, the point at which the faces meet is at the
    correct measured location.
  </p>
</div>

{% capture figure_brace_assembly %}{% increment st_fig %}{% endcapture %}
{% include figure.html number=figure_brace_assembly
image="view-brace-assembly.png"
caption="Screw braces together with brace hangers." %}
<div class="pure-u-1 pure-u-md-1-2">
  <p>
    Each brace has a 30&deg; mitre on one end. If your stock is long
    enough, you can save time by using each side of a 30&deg; cut for
    a brace.
  </p>
  <p>
    Assemble the braces for each elevation first. Then bolt all braces
    to one leg. Bolt the second leg to each brace, and then bolt on
    the third leg. This will be much easier than trying to screw the
    braces to each other after they have each been bolted to a leg.
  </p>
</div>

<div class="pure-u-1">
  <h2>Examples</h2>

  <p><a href="https://blog.beerriot.com/TODO">Starlink dish
  elevator.</a> Use a pipe with a 1.5 inch inner diameter as the
  mast. Drill a 1/2 inch hole centered two inches from the end of the
  pipe. Remove the spring buttons from the Starlink dish's stem, and
  secure a 1/2 inch bolt through it and the pipe holes to secure the
  dish in place.</p>
</div>
